---
---

@import "{{ site.theme }}";
a:visited {
    text-decoration: none;
}
a:hover {
    font-weight: normal;
    text-decoration: underline;
}
h1 > a:hover {
    font-weight: bold;
}
.view {
    display: none;
}