---
---

@import "{{ site.theme }}";
$base-color: #00ab6b;
a, a:visited, a:hover {
    color:$base-color;
}
a:visited {
    text-decoration: none;
}
a:hover {
    font-weight: normal;
    text-decoration: underline;
}
h1 > a:hover {
    font-weight: bold;
}
.view {
    display: none;
}
.desc {
    font-size: 0.90em;
}
section {
    border-color: $base-color;
    border-style: dotted;
}